<ul class="navbar-grid">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">المعلمين</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="index" asp-controller="teachers" target="_blank">👀 عرض بيانات المعلمين</a></li>
            <li><a class="dropdown-item" asp-action="create" asp-controller="teachers" target="_blank">✦ إضافة معلم جديد</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">الشباب</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="index" asp-controller="youngs">👀 عرض بيانات الشباب</a></li>
            <li><a class="dropdown-item" asp-action="create" asp-controller="youngs">✦ إضافة شاب جديد </a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">الأطفال</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="index" asp-controller="children">👀 عرض بيانات الأطفال</a></li>
            <li><a class="dropdown-item" asp-action="create" asp-controller="children">✦ إضافة طفل جديد </a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">الأنشطة</a>
        <ul class="dropdown-menu">
			<li><a class="dropdown-item" asp-action="index" asp-controller="activities">👀 عرض الأنشطة في المسجد </a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">العمال</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="index" asp-controller="workers">👀 عرض بيانات العمال</a></li>
            <li><a class="dropdown-item" asp-action="create" asp-controller="workers">✦  إضافة عامل جديد </a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">الجوائز</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="index" asp-controller="awards">👀 عرض الجوائز</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">الصلاحيات</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="index" asp-controller="roles">👀 عرض الصلاحيات</a></li>
        </ul>
    </li>
</ul>